.chart-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.chart-btn{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #a3a3a3;
    color: white;
    padding: 8px;
    font-size: 13px;
    border-radius: 18px;
}
.btn-icon{
    color: white !important;
    font-size: 9px !important;
}