.header {
    padding: 0.5rem 1rem;
    padding-right: 1rem !important;
  }
  
  .header .form-control {
    background-color: #3a3b3c;
    border: none;
    color: white;
    width: 250px;
    padding-left: 35px;
  }
  
  .header .form-control::placeholder {
    color: #a3a3a3;
  }
  
  .header .icons {
    display: flex;
    align-items: center;
  }
  
  .header .icon {
    color: white;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .header .icon:hover {
    color: #a3a3a3;
  }
  
  .header .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #a3a3a3;
  }
  